html {
  font-size: 14.4px; 
}

@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

.app {
  @apply w-full min-h-screen grid;
  @apply grid-cols-[4.5rem_1fr] grid-rows-[3.5rem_1fr];
  @apply overflow-hidden;

  grid-template-areas:
    "header header"
    "widgets editor";
}
